# This workflow will build a Java project with Maven, and cache/restore any dependencies to improve the workflow execution time
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-java-with-maven

# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

name: Java CI with Maven

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]
  workflow_dispatch:

env:
  mavenGoal: "clean install"
jobs:
  call-checkout-in-GithubActions-repo:
    uses: vasusheoran/GithubActions/.github/workflows/checkout.yml@main
  call-build-in-GithubActions-repo:
    uses: vasusheoran/GithubActions/.github/workflows/build.yml@main
  call-deploy-in-GithubActions-repo:
    needs: call-build-in-GithubActions-repo
    uses: vasusheoran/GithubActions/.github/workflows/deploy.yml@main
